@import '../../../styles/base/_variables.scss';
@import '../../../styles/helpers/_mixins.scss';
footer{
  position:  absolute;
  bottom: 0rem;
  width: 100%;
  border-top: 0.125rem solid $borderColor;
  padding-top: 0.8125rem;
  text-align: center;
}