@import '../../../styles/base/_variables.scss';
@import '../../../styles/helpers/_mixins.scss';
footer{
  width: 100%;  
  border-top: 0.125rem solid $borderColor;
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
  font-size: 0.75rem;
  text-align: center;
}