@import '../../../styles/base/_variables.scss';
/*Widget*/
.ita-widget{
  padding: 0.9375rem;
  border: 0.125rem solid $borderColor;
  height: 18.75rem;
  min-width: 18.75rem;
  p:first-child{
    margin-bottom: 1.25rem;
    font-size: 1.25rem;   
  }
  p{
    display: inline-block;
    margin: 0 0 0.625rem 0;
    font-size:1.125rem;
  }
  i{
    float: right;
  }
  i:hover{
    color: $widgetHover;
  }
}
