@import '../../../../styles/base/_variables.scss';

.dialog__title {
  position: relative;
  top: -1rem;
  left: -1.42rem;
  width: calc(100% + 2.9rem);
  border-bottom: 0.25rem solid $borderColor;
  padding: 0 0 0.25rem 3rem;
  font-size: 1.5rem;
  font-weight: bold;
}
.dialog-button{
 float:right;
    display:block;
    margin-right:0px;
    clear:left;
}
.mat-dialog-container {
 border: 0.25rem solid $borderColor;
 color: $userSettingsItemHoverText;
 text-shadow: 0.0625rem 0.0625rem 0.0625rem $userSettingsItemHoverShadow;   
 background-color: $userSettingsBoxBorder;   
 box-shadow: inset 0 0 0.625rem $userSettingsItemHoverShadow; 
 }
.mat-radio-label-content{
    font-size:0.85rem;
}
.mat-radio-outer-circle{
    border:;
  
}
.mat-radio-inner-circle{
    background:#FFA500;
   
}