<p class="link">{{ 'Administration.Reporting' | translate }}</p>
<div class="row">
  <div class="col-md-6">
    <div  *ngIf="lineChartData.length > 1" style="display: block">
    <canvas baseChart width="20" height="20"
                [data]="lineChartData"
                [labels]="lineChartLabels"
                [options]="lineChartOptions"
                [legend]="lineChartLegend"
                [chartType]="lineChartType"
                (chartHover)="chartHovered($event)"
                (chartClick)="chartClicked($event)">
    </canvas>
    </div>
  </div>
  <div class="col-md-6">
    <div  *ngIf="barChartData.length > 1" style="display: block">
    <canvas baseChart width="20" height="10"
            [data]="barChartData"
            [labels]="barChartLabels"
            [options]="barChartOptions"
            [legend]="barChartLegend"
            [chartType]="barChartType"
            (chartHover)="chartHovered($event)"
            (chartClick)="chartClicked($event)"></canvas>
  </div>
  </div>
 <div class="col-md-6">
    <div *ngIf="pieChartData.length > 1" style="display: block"> 
  <canvas baseChart width="20" height="20"
          [data]="pieChartData"
          [labels]="pieChartLabels"
          [chartType]="pieChartType"
          (chartHover)="chartHovered($event)"
          (chartClick)="chartClicked($event)"></canvas>
   </div>
   </div>       
</div>