<form class="settings-form" #serversForm="ngForm" (ngSubmit)="onSubmit(serversForm.value)">
   <div class="settings-form__close-button" md-dialog-actions>
     <button md-dialog-close class="close" aria-label="Close"> <span aria-hidden="true">&times;</span>
     </button>
   </div>
   <div class="settings-form__title">{{'Settings.Servers_Configurator'|translate}}</div>
     <div class="settings-form__columns">
       <div class="settings-form__labelbox">
      <label for="name">{{'Settings.Scheduler_Name'|translate}}:</label>
    </div>
    <md-input-container>
      <input mdInput placeholder="Some Name" value="" name="name">
    </md-input-container>
  </div>
  <div class="settings-form__columns">
    <div class="settings-form__labelbox">
      <label for="description">{{'Settings.Description'|translate}}:</label>
    </div>
    <md-input-container>
      <input mdInput placeholder="Some Description" value="" name="description">
    </md-input-container>
  </div>
  <div class="settings-form__radio-group">
    <md-radio-group>
      <p>{{'Settings.Options'|translate}}:</p>
      <md-radio-button value="save">{{'Settings.Save_and_email'|translate}} </md-radio-button>
      <md-radio-button value="only_email">{{'Settings.Only_email'|translate}} </md-radio-button>
    </md-radio-group>
  </div>
  <div class="settings-form__button" md-dialog-actions>
    <button class="btn" type="submit">{{'Settings.Save'|translate}}</button>
  </div>
</form>