<form class="settings-form" [formGroup]="EmailForm" novalidate (ngSubmit)="onSubmit($event)">
  <div class="settings-form__close-button" md-dialog-actions>
    <button md-dialog-close class="close" aria-label="Close"> <span aria-hidden="true">&times;</span>
</button>
  </div>
  <div class="settings-form__title">{{'Settings.Email_Scheduler'|translate}}</div>
  <div class="settings-form__columns">
    <div class="settings-form__labelbox">
      <label for="name">{{'Settings.Scheduler_Name'|translate}}:</label>
    </div>
    <md-input-container>
      <input mdInput placeholder="Some Name" formControlName="name" value="" [ngModel]=data?.form.name required pattern="^[A-Za-z0-9]*$">
    </md-input-container>
  </div>
  <div class="alert alert-danger" *ngIf="EmailForm.get('name').invalid">
    Please enter valid name: only A-Z symbols and numbers are allowed.
  </div>
  <div class="settings-form__columns">
    <div class="settings-form__labelbox">
      <label for="description">{{'Settings.Description'|translate}}:</label>
    </div>
    <md-input-container>
      <input mdInput placeholder="Some Description" name="description" value="">
    </md-input-container>
  </div>
  <div class="settings-form__button">
    <button class="btn btn-success" type="submit" [disabled]="EmailForm.invalid">{{'Settings.Save'|translate}} </button>
  </div>
</form>
