@import '../../../styles/base/_variables.scss';

.settings-form__title {
  left: -1.42rem;
  border-bottom: 0.25rem solid $borderColor;
  font-size: 1.5rem;
  font-weight: bold;
}
.settings-form__button{
  float:right;
  display:block;
  margin-right:0px;
  clear:left;
}
.settings-form__close-button{
  float:right;
  display:block;
  margin-top:-0.3rem;
  margin-right:0px;
  clear:left;
}
.settings-form__labelbox{
  display: inline-block;
  width: 40%;
  max-width: 10rem;
}
.settings-form__results{
  margin-top:1rem;
}
.settings-form__columns{
  margin-top:0.5rem;
}
.settings-form_cont{
  height: calc(100% - 1rem );
}