<form class="settings-form" #email_shedulerForm="ngForm" (ngSubmit)="onSubmit(email_shedulerForm.value)">
  <div class="settings-form__close-button" md-dialog-actions>
    <button md-dialog-close class="close" aria-label="Close"><i class="fa fa-times" aria-hidden="true"></i>
</button>
  </div>
  <div class="settings-form__title">{{'Settings.Email_Scheduler'|translate}}</div>
  <div class="settings-form__columns">
    <div class="settings-form__labelbox">
      <label for="name">{{'Settings.Scheduler_Name'|translate}}:</label>
    </div>
    <md-input-container>
      <input mdInput placeholder="Some Name" name="name" ngModel="{{data?.form.name}}">
    </md-input-container>
  </div>
  <div class="settings-form__columns">
    <div class="settings-form__labelbox">
      <label for="description">{{'Settings.Description'|translate}}:</label>
    </div>
    <md-input-container>
      <input mdInput placeholder="Some Description" name="description" ngModel="{{data?.form.description}}">
    </md-input-container>
  </div>
  <div class="row settings-form__radio-group">
    <div class="col-sm-3">{{'Settings.Options'|translate}}:</div>
    <div class="col-sm-8">
      <md-radio-group ngModel="{{data?.form.option}}" name="option">
        <md-radio-button value="save">
        {{'Settings.Save_and_email'|translate}}
        </md-radio-button>
        <md-radio-button value="only_email">
        {{'Settings.Only_email'|translate}}
        </md-radio-button>
      </md-radio-group>
    </div>
  </div>
  <div class="settings-form__button">
    <button md-raised-button type="submit">{{'Settings.Save'|translate}}</button>
  </div>
</form>