<form class="settings-form" [formGroup]="EmailForm" novalidate (ngSubmit)="onSubmit($event)">
  <div class="settings-form__close-button" md-dialog-actions>
    <button md-dialog-close class="close" aria-label="Close"><i class="fa fa-times" aria-hidden="true"></i>
</button>
  </div>
  <div class="settings-form__title">{{'Settings.Email_Scheduler'|translate}}</div>
  <div class="settings-form__columns">
    <div class="settings-form__labelbox">
      <label for="name">{{'Settings.Scheduler_Name'|translate}}:</label>
    </div>
    <md-input-container>
      <input mdInput placeholder="Some Name" formControlName="name"  pattern="^[A-Za-z0-9]*$">
    </md-input-container>
  </div>
  <div ngxErrors="name" #name="ngxErrors">
    <div class="alert alert-danger" ngxError="pattern" >
      {{'Errors.Error_valid_name'|translate}}
    </div>
  </div>
    <div ngxErrors="name" #name="ngxErrors">
    <div class="alert alert-danger" ngxError="required" >
      {{'Errors.Error_required_name'|translate}}
    </div>
  </div>
  <div class="settings-form__columns">
    <div class="settings-form__labelbox">
      <label for="description">{{'Settings.Description'|translate}}:</label>
    </div>
    <md-input-container>
      <input mdInput placeholder="Some Description" formControlName="description"  >
    </md-input-container>
  </div>
  <div class="row settings-form__radio-group">
    <div class="col-sm-3">{{'Settings.Options'|translate}}:</div>
    <div class="col-sm-8">
      <md-radio-group formControlName="option" value="">
        <md-radio-button value="save" ngDefaultControl>
          {{'Settings.Save_and_email'|translate}}
        </md-radio-button>
        <md-radio-button value="only_email" ngDefaultControl>
          {{'Settings.Only_email'|translate}}
        </md-radio-button>
      </md-radio-group>
    </div>
  </div>
  <div class="input-group">
      <input formControlName="date" ngbDatepicker #d="ngbDatepicker">
      <div class="input-group-addon" (click)="d.toggle()" >
        <i class="fa fa-calendar" aria-hidden="true"></i>
      </div>
    </div>
  <div ngxErrors="date" #date="ngxErrors">
    <div class="alert alert-danger" ngxError="required">
    {{ 'Settings.EmptyDatepicker' | translate }}
    </div>
  </div>
  <div class="settings-form__button">
    <button class="btn btn-success" type="submit" [disabled]="EmailForm.invalid">{{'Settings.Save'|translate}} </button>
  </div>
</form>