<form class="settings-form" #LDAPForm="ngForm" (ngSubmit)="onSubmit(LDAPForm.value)" novalidate>
  <div class="settings-form__close-button" md-dialog-actions>
    <button md-dialog-close class="close" aria-label="Close"> <span aria-hidden="true">&times;</span>
     </button>
  </div>
  <div class="settings-form__title">{{'LDAP.TTL'|translate}}</div>
  <div class="settings-form__columns">
    <div class="settings-form__labelbox">
      <label for="ldapName">{{'LDAP.NAME'|translate}}:</label>
    </div>
    <md-input-container>
      <input mdInput #ldapName="ngModel" type="text" name="ldapName" [(ngModel)]="data?.form.ldapName" placeholder="{{'LDAP.NAME'|translate}}"
        minlength="4" maxlength="16" pattern="{{hostPatternLDAPName}}" required>
    </md-input-container>
    <div class="settings-form__errorbox">
      <i class="fa fa-exclamation-circle error-icon" *ngIf="ldapName.errors"></i>
      <div class="settings-form__errors" *ngIf="ldapName.errors && (ldapName.dirty || ldapName.touched)">
        <p [hidden]="!ldapName.errors.required">{{ 'LDAP.ERReqField' | translate }}</p>
        <p [hidden]="!ldapName.errors.minlength">{{ 'LDAP.minL4' | translate }}</p>
        <p [hidden]="!ldapName.errors.maxlength">{{ 'LDAP.maxL16' | translate }}</p>
        <p [hidden]="!ldapName.errors.pattern">{{ 'LDAP.ErrLDAPNameRule' | translate }}</p>
      </div>
    </div>
  </div>
  <div class="settings-form__columns">
    <div class="settings-form__labelbox">
      <label for="host">{{'LDAP.HOST'|translate}}:</label>
    </div>
    <md-input-container>
      <input mdInput #host="ngModel" placeholder="{{'LDAP.HOST'|translate}}" type="text" name="host" [(ngModel)]="data?.form.host"
        minlength="4" pattern="{{hostPatternIP}}" required>
    </md-input-container>
    <div class="settings-form__errorbox">
      <i class="fa fa-exclamation-circle error-icon" *ngIf="host.errors"></i>
      <div class="settings-form__errors" *ngIf="host.errors && (host.dirty || host.touched)">
        <p [hidden]="!host.errors.required">{{ 'LDAP.ERReqField' | translate }}</p>
        <p [hidden]="!host.errors.minlength">{{ 'LDAP.minL4' | translate }}</p>
        <p [hidden]="!host.errors.pattern">{{ 'LDAP.hostReqFAQ' | translate }}</p>
      </div>
    </div>
  </div>
  <div class="settings-form__radio-group">
    <md-radio-group name="auth" value="ngModel" [(ngModel)]="radioState">
      <p>{{'LDAP.AUTTL'|translate}}:</p>
      <md-radio-button *ngFor="let radioValue of radioValues" [id]="radioValue.name" [value]="radioValue.value">{{radioValue.translate|translate}}</md-radio-button>
    </md-radio-group>
  </div>
  <div *ngIf="radioState">
    <div class="settings-form__columns">
      <div class="settings-form__labelbox">
        <label for="host">{{'LDAP.usrnameLabel'|translate}}:</label>
      </div>
      <md-input-container>
        <input mdInput #username="ngModel" placeholder="{{'LDAP.usrnameLabel'|translate}}" type="text" name="username" [(ngModel)]="data?.form.username" 
        minlength="4" maxlength="16" pattern="{{hostPatternName}}" required>
      </md-input-container>
      <div class="settings-form__errorbox">
        <i class="fa fa-exclamation-circle error-icon" *ngIf="username.errors"></i>
        <div class="settings-form__errors" *ngIf="username.errors && (username.dirty || username.touched)">
          <p [hidden]="!username.errors.required">{{ 'LDAP.ERReqField' | translate }}</p>
          <p [hidden]="!username.errors.minlength">{{ 'LDAP.minL4' | translate }}</p>
          <p [hidden]="!username.errors.pattern">{{ 'LDAP.ErrPassREGEX' | translate }}</p>
        </div>
      </div>
    </div>
    <div class="settings-form__columns">
      <div class="settings-form__labelbox">
        <label for="host">{{'LDAP.usrpassLabel'|translate}}:</label>
      </div>
      <md-input-container>
        <input mdInput #userpass="ngModel" placeholder="{{'LDAP.usrpassLabel'|translate}}" type="password" name="userpass" [(ngModel)]="data?.form.userpass"
        minlength="8" maxlength="16" pattern="{{hostPatternPass}}" required>
      </md-input-container>
      <div class="settings-form__errorbox">
        <i class="fa fa-exclamation-circle error-icon" *ngIf="userpass.errors"></i>
        <div class="settings-form__errors" *ngIf="userpass.errors && (userpass.dirty || userpass.touched)">
          <p [hidden]="!userpass.errors.required">{{ 'LDAP.ERReqField' | translate }}</p>
          <p [hidden]="!userpass.errors.minlength">{{ 'LDAP.minL8' | translate }}</p>
          <p [hidden]="!userpass.errors.pattern">{{ 'LDAP.ErrPassREGEX' | translate }}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="settings-form__button" md-dialog-actions>
    <button md-raised-button type="submit" [disabled]="LDAPForm.invalid">{{'Settings.Save'|translate}}</button>
  </div>
</form>