<md-sidenav-container>
<button md-icon-button (click)="sidenav.toggle()">
        <i class="fa fa-angle-right fa-2x " aria-hidden="true"></i>
</button>
<md-sidenav #sidenav mode="side" class="admin-border">
  <md-nav-list>  
    <a md-list-item [routerLink]="['./users']"> Users/Roles </a>
    <a md-list-item [routerLink]="['./reporting']"> Reporting </a>
    <a md-list-item [routerLink]="['./filtering']"> Filtering </a>
  </md-nav-list>
</md-sidenav>
  <router-outlet></router-outlet>  
</md-sidenav-container>
