@import '../../styles/base/_variables.scss';
md-sidenav-container
{ 
  height:80rem;
  .admin-border{
  	border-right: 0.25rem solid $borderColor;
  }
  .li-ckecked{
  	background-color: $borderColor;
  }
  .box{ 
  	border-right: $borderColor;
  	border-bottom: $borderColor;
  }
}
