@import '../../../styles/base/_variables.scss';
@import '../../../styles/helpers/_mixins.scss';

.mat-toolbar {
  background-color: transparent;
  color: $defTextColor !important;
}
.mat-menu-item:hover {
  color: $userSettingsItemHoverText;
  background-color: lighten( $userSettingsBoxBorder, 10% );
}
:host {
  position: absolute;
  right: 0;
  top: -0.55rem;
  @include respond-to($sm-max) {
    right: 2.5rem;
    top: -0.7rem;
  }
}